<br>
<h4>Order your food and drinks</h4>
<br>
<table class="table">
  <tr>
  	<th>Food & drinks</th>
  	<th>Quantity</th>
  	<th>Price</th>
  </tr>
  <% @user.orders.each do |o| %>
    <tr>
      <td><%= o.food.name %></td>
      <td><%= o.num_of_food %></td>
      <td>$<%= o.food.price * o.num_of_food %>.00</td>
    </tr>
  <% end %>
  <tr>
  	<td>Total</td>
  	<td>-</td>
  	<td>$<%= @user.total_bill %>.00</td>
  </tr>
</table>

<%= link_to "Where to ship your food?", edit_user_path(@user) %>