<br>
<div class="jumbotron">
  <h1><%=@section_name %></h1>

</div>
<br>
<br>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    see foods by
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>
       <%= link_to "food's name ascending", section_foods_path(sort: 'name', by: 'asc'), style: "text-decoration: none;" %>	
    </li>
    <li>
       <%= link_to "food's name descending", section_foods_path(sort: 'name', by: 'desc'), style: "text-decoration: none;" %>	
    </li>
    <li>
       <%= link_to "price low to heigh", section_foods_path(sort: 'price', by: 'asc'), style: "text-decoration: none;" %>	
    </li>
    <li>
       <%= link_to "price heigh to down", section_foods_path(sort: 'price', by: 'desc'), style: "text-decoration: none;" %>	
    </li>
  </ul>
</div>


<br>
<br>

<div class="row">
  <% @foods.each do |food| %>
  <%= render food %>
  <% end %>
</div>


